body {
  margin: 0;
  min-width: 2048px;
  background-color: #172635;
}

#ring {
  position: absolute;
  width: 70px;
  height: 71px;
  left: 1925px;
  top: 1422px;
  z-index: 25;
}

#l {
  float: left;
  position: relative;
  width: 726px;
  margin-top: 288px;
  margin-left: 137px;
  z-index: 24;
  min-height: 955px;
}

#c {
  float: left;
  position: relative;
  width: 726px;
  height: 215px;
  margin-top: 34px;
  margin-left: 0;
  z-index: 23;
}

#c-1 {
  float: left;
  position: relative;
  width: 726px;
  height: 215px;
  margin-top: 34px;
  margin-left: 0;
  z-index: 22;
  clear: left;
}

#c-2 {
  float: left;
  position: relative;
  width: 726px;
  height: 215px;
  margin-top: 34px;
  margin-left: 0;
  z-index: 21;
  clear: left;
}

#c-3 {
  float: left;
  position: relative;
  width: 726px;
  height: 215px;
  margin-top: 34px;
  margin-left: 0;
  z-index: 20;
  clear: left;
}

#r {
  float: left;
  position: relative;
  width: 969px;
  margin-top: 288px;
  margin-left: 77px;
  z-index: 18;
}

#g {
  float: left;
  position: relative;
  width: 969px;
  margin-top: 34px;
  margin-left: 0;
  z-index: 17;
  min-height: 216px;
}

#back {
  float: left;
  position: relative;
  width: 969px;
  height: 216px;
  margin-top: 0;
  margin-left: 0;
  z-index: 15;
}

#txt {
  float: left;
  position: relative;
  width: 930px;
  height: 132px;
  margin-top: 41px;
  margin-left: -950px;
  z-index: 16;
}

#g-1 {
  float: left;
  position: relative;
  width: 969px;
  margin-top: 34px;
  margin-left: 0;
  z-index: 13;
  min-height: 216px;
  clear: left;
}

#back-1 {
  float: left;
  position: relative;
  width: 969px;
  height: 216px;
  margin-top: 0;
  margin-left: 0;
  z-index: 11;
}

#txt-1 {
  float: left;
  position: relative;
  width: 881px;
  height: 97px;
  margin-top: 60px;
  margin-left: -950px;
  z-index: 12;
}

#g-2 {
  float: left;
  position: relative;
  width: 969px;
  margin-top: 34px;
  margin-left: 0;
  z-index: 9;
  min-height: 216px;
  clear: left;
}

#back-2 {
  float: left;
  position: relative;
  width: 969px;
  height: 216px;
  margin-top: 0;
  margin-left: 0;
  z-index: 7;
}

#txt-2 {
  float: left;
  position: relative;
  width: 927px;
  height: 132px;
  margin-top: 42px;
  margin-left: -950px;
  z-index: 8;
}

#g-3 {
  float: left;
  position: relative;
  width: 969px;
  margin-top: 34px;
  margin-left: 0;
  z-index: 5;
  clear: left;
}

#back-3 {
  float: left;
  position: relative;
  width: 969px;
  height: 216px;
}

#txt-3 {
  float: left;
  position: relative;
  width: 846px;
  height: 165px;
  margin-top: 24px;
  margin-left: -950px;
  z-index: 4;
}

#ring {
  position: absolute;
  width: 70px;
  height: 71px;
  left: 1925px;
  top: 1422px;
  z-index: 99;
}

#wraper{
  position: absolute;
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 1400px;
  margin: auto;
  border: 0px solid transparent;
  background-color: #3f2d6d;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #fff;
  letter-spacing: normal;
  padding: 20px 100px;
}

#r .g:nth-child(odd) {
    background: #676767;
}
#r .g:nth-child(even) {
    background: #434343;
}
#r #g-2:nth-child(1) {
    background: #48347d;
}
#r #g-3:nth-child(2) {
    background: #392963;
}
#r #g-1:nth-child(3) {
    background: #48347d;
}
#r #g:nth-child(4) {
    background: #392963;
}
.sortable-ghost {
    opacity: 0.1;
    background-color: #48347d;
}
#r, #l {
   visibility: hidden;
}