body {
  margin: 0;
  min-width: 2048px;
  background-color: #101c29;
}

#g {
  position: absolute;
  width: 2048px;
  height: 1536px;
  left: 0;
  top: 0;
  z-index: 20;
}

#part {
  position: absolute;
  width: 212px;
  height: 317px;
  left: 1021px;
  top: 662px;
  z-index: 19;
}

#g-1 {
  position: absolute;
  width: 2048px;
  height: 1536px;
  left: 0;
  top: 0;
  z-index: 17;
}

#part-1 {
  position: absolute;
  width: 210px;
  height: 316px;
  left: 815px;
  top: 663px;
  z-index: 16;
}

#g-2 {
  position: absolute;
  width: 2048px;
  height: 1536px;
  left: 0;
  top: 0;
  z-index: 14;
}

#part-2 {
  position: absolute;
  width: 363px;
  height: 134px;
  left: 842px;
  top: 559px;
  z-index: 13;
}

#txt {
  position: absolute;
  width: 571px;
  height: 605px;
  left: 109px;
  top: 164px;
  z-index: 10;
}

#txt-1 {
  position: absolute;
  width: 599px;
  height: 566px;
  left: 1339px;
  top: 275px;
  z-index: 9;
}

#txt-2 {
  position: absolute;
  width: 775px;
  height: 336px;
  left: 644px;
  top: 1123px;
  z-index: 8;
}

#st {
  position: absolute;
  width: 150px;
  height: 575px;
  left: 710px;
  top: 135px;
  z-index: 7;
}

#st-1 {
  position: absolute;
  width: 611px;
  height: 4px;
  left: 102px;
  top: 135px;
  z-index: 6;
  background-color: #fff;
}

#st-2 {
  position: absolute;
  width: 189px;
  height: 402px;
  left: 1156px;
  top: 246px;
  z-index: 5;
}

#st-3 {
  position: absolute;
  width: 597px;
  height: 4px;
  left: 1342px;
  top: 246px;
  z-index: 4;
  background-color: #fff;
}

#st-4 {
  position: absolute;
  width: 450px;
  height: 159px;
  left: 636px;
  top: 936px;
  z-index: 3;
}

#st-5 {
  position: absolute;
  width: 785px;
  height: 4px;
  left: 637px;
  top: 1091px;
  z-index: 2;
  background-color: #fff;
}

#ring {
  position: absolute;
  width: 73px;
  height: 69px;
  left: 1918px;
  top: 1420px;
  z-index: 1;
}
#wraper{
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 1300px;
  margin: auto;
  border: 0px solid transparent;
  background-color: #3f2d6d;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #fff;
  letter-spacing: normal;
  padding: 60px 100px;
}

.c, .line {
  visibility: hidden;
}
