body {
  margin: 0;
  min-width: 2048px;
  background-color: #101c29;
}

#c {
  position: absolute;
  width: 293px;
  height: 293px;
  left: 1124px;
  top: 1002px;
  z-index: 10;
}

#c-1 {
  position: absolute;
  width: 408px;
  height: 408px;
  left: 281px;
  top: 976px;
  z-index: 9;
}

#c-2 {
  position: absolute;
  width: 319px;
  height: 319px;
  left: 1317px;
  top: 557px;
  z-index: 8;
}

#c-3 {
  position: absolute;
  width: 319px;
  height: 319px;
  left: 567px;
  top: 557px;
  z-index: 7;
}

#c-4 {
  position: absolute;
  width: 360px;
  height: 360px;
  left: 922px;
  top: 147px;
  z-index: 6;
}

#line {
    transform-origin: top right;
    -webkit-transform-origin: top right;
  position: absolute;
  width: 78px;
  height: 195px;
  left: 560px;
  top: 828px;
  z-index: 5;
}

#line-1 {
    transform-origin: top right;
    -webkit-transform-origin: top right;
  position: absolute;
  width: 111px;
  height: 195px;
  left: 1317px;
  top: 848px;
  z-index: 4;
}

#line-2 {
    transform-origin: top left;
    -webkit-transform-origin: top left;
  position: absolute;
  width: 179px;
  height: 180px;
  left: 1203px;
  top: 442px;
  z-index: 3;
}

#line-3 {
    transform-origin: top right;
    -webkit-transform-origin: top right;
  position: absolute;
  width: 174px;
  height: 175px;
  left: 824px;
  top: 447px;
  z-index: 2;
}

#ring {
  position: absolute;
  width: 70px;
  height: 71px;
  left: 1925px;
  top: 1422px;
  z-index: 1;
}
#wraper{
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 1300px;
  margin: auto;
  border: 0px solid transparent;
  background-color: #3f2d6d;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #fff;
  letter-spacing: normal;
  padding: 60px 100px;
}

.c, .line {
  visibility: hidden;
}
