body {
  margin: 0;
  min-width: 2048px;
  background-color: #101c29;
}

#c {
  position: absolute;
  width: 607px;
  height: 151px;
  left: 721px;
  top: 824px;
  z-index: 8;
}

#c-1 {
  position: absolute;
  width: 319px;
  height: 319px;
  left: 380px;
  top: 991px;
  z-index: 7;
}

#c-2 {
  position: absolute;
  width: 319px;
  height: 319px;
  left: 862px;
  top: 216px;
  z-index: 6;
}

#c-3 {
  position: absolute;
  width: 319px;
  height: 319px;
  left: 1347px;
  top: 991px;
  z-index: 5;
}

#c-4 {
  transform-origin: bottom left;
  position: absolute;
  width: 340px;
  height: 575px;
  left: 565px;
  top: 442px;
  z-index: 4;
}

#c-5 {
  transform-origin: top left;
  position: absolute;
  width: 341px;
  height: 586px;
  left: 1142px;
  top: 442px;
  z-index: 3;
}

#c-6 {
  transform-origin: right;
  position: absolute;
  width: 777px;
  height: 6px;
  left: 632px;
  top: 1246px;
  z-index: 2;
}

#ring {
  position: absolute;
  width: 70px;
  height: 71px;
  left: 1925px;
  top: 1422px;
  z-index: 1;
}
#wraper{
  width: 2048px;
  z-index: 99;
  margin-top: 800px;
}

#btn {
  width: 1300px;
  margin: auto;
  top: 712px;
  border: 0px solid transparent;
  z-index: 2;
  background-color: #3f2d6d;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #fff;
  letter-spacing: normal;
  padding: 20px 100px;
}
.c, .line{
  visibility: hidden;
}