body {
  margin: 0;
  min-width: 2048px;
}

#ring {
  position: absolute;
  width: 70px;
  height: 71px;
  left: 1925px;
  top: 1422px;
  z-index: 1;
}

#l {
  float: left;
  position: relative;
  width: 394px;
  margin-top: 368px;
  margin-left: 540px;
  z-index: 30;
  min-height: 796px;
}

#c {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 54px;
margin-left: 0;
  z-index: 29;
}

#c-1 {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 54px;
  margin-left: 0;
  z-index: 28;
  clear: left;
}

#c-2 {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 54px;
  margin-left: 0;
  z-index: 27;
  clear: left;
}

#c-3 {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 54px;
  margin-left: 0;
  z-index: 26;
  clear: left;
}

#c-4 {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 54px;
  margin-left: 0;
  z-index: 25;
  clear: left;
}

#r {
  float: left;
  position: relative;
  width: 394px;
  margin-top: 368px;
  margin-left: 179px;
  z-index: 23;
  min-height: 796px;
}

#g {
  float: left;
  position: relative;
  width: 394px;
  margin-top: 54px;
    margin-left: 0;
  z-index: 22;
  min-height: 116px;
}

#back {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 0;
  margin-left: 0;
  z-index: 20;
}

#txt {
  float: left;
  position: relative;
  width: 378px;
  height: 38px;
  margin-top: 39px;
  margin-left: -387px;
  z-index: 21;
}

#g-1 {
  float: left;
  position: relative;
  width: 394px;
  margin-top: 54px;
  margin-left: 0;
  z-index: 18;
  min-height: 116px;
  clear: left;
}

#back-1 {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 0;
  margin-left: 0;
  z-index: 16;
}

#txt-1 {
  float: left;
  position: relative;
  width: 40px;
  height: 27px;
  margin-top: 46px;
  margin-left: -217px;
  z-index: 17;
}

#g-2 {
  float: left;
  position: relative;
  width: 394px;
  margin-top: 54px;
  margin-left: 0;
  z-index: 14;
  min-height: 116px;
  clear: left;
}

#back-2 {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 0;
  margin-left: 0;
  z-index: 12;
}

#txt-2 {
  float: left;
  position: relative;
  width: 46px;
  height: 27px;
  margin-top: 45px;
  margin-left: -220px;
  z-index: 13;
}

#g-3 {
  float: left;
  position: relative;
  width: 394px;
  margin-top: 54px;
  margin-left: 0;
  z-index: 10;
  min-height: 116px;
  clear: left;
}

#back-3 {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 0;
  margin-left: 0;
  z-index: 8;
}

#txt-3 {
  float: left;
  position: relative;
  width: 272px;
  height: 39px;
  margin-top: 39px;
  margin-left: -333px;
  z-index: 9;
}

#g-4 {
  float: left;
  position: relative;
  width: 394px;
  margin-top: 54px;
  margin-left: 0;
  z-index: 6;
  min-height: 116px;
  clear: left;
}

#back-4 {
  float: left;
  position: relative;
  width: 394px;
  height: 116px;
  margin-top: 0;
  margin-left: 0;
  z-index: 4;
}

#txt-4 {
  float: left;
  position: relative;
  width: 366px;
  height: 37px;
  margin-top: 42px;
  margin-left: -380px;
  z-index: 5;
}
#wraper{
  position: absolute;
  width: 2048px;
  z-index: 99;
  margin-top: 650px;
}

#btn {
  width: 1400px;
  margin: auto;
  border: 0px solid transparent;
  background-color: #3f2d6d;
  text-align: center;
  font: 60px/72px Helvetica Neue, sans-serif;
  color: #fff;
  letter-spacing: normal;
  padding: 20px 100px;
}

#r .g:nth-child(odd) {
    background: #676767;
}
#r .g:nth-child(even) {
    background: #434343;
}
#r #g-4:nth-child(1) {
    background: #48347d;
}
#r #g:nth-child(2) {
    background: #392963;
}
#r #g-3:nth-child(3) {
    background: #48347d;
}
#r #g-1:nth-child(4) {
    background: #392963;
}
#r #g-2:nth-child(5) {
    background: #48347d;
}
.sortable-ghost {
    opacity: 0.1;
    background-color: #48347d;
}
#r, #l {
   visibility: hidden;
}